<script>
  import Main from "@/components/Main.vue"
  import { stat } from "@/stores/stat";
  import router from "@/router";
  export default {
    components: {
      Main
    },
    data() {
      return {
        words: ["apple", "orange", "pineapple", "mango", "banana", "strawberry", "lemon", "lime"],
        length: 16,
        shuffled: [],
        reset: false
      }
    },
    watch: {
      reset(newVal, oldVal) {

      }
    },
    methods: {
      generateArray() {
        const generated = new Array(this.length/this.words.length).fill(this.words).flat();
        this.shuffled = generated.map(value => ({ value, sort: Math.random() }))
          .sort((a, b) => a.sort - b.sort)
          .map(({ value }) => value)
      },
      handleGameCompletion(clicks) {
        const games = stat.value.games;
        stat.value.setGames(games+1);
        stat.value.setTotalClicks(clicks);
        router.push({ path: '/stat', replace: true })
      }
    },
    mounted() {
      this.generateArray();
      this.reset = stat.value.reset;
    }
  }
</script>

<template>
  <Main
    :shuffled="this.shuffled"
    @onGameCompleted="this.handleGameCompletion"
  />
</template>

<style></style>
