<script>
  import { stat } from "@/stores/stat"
  import Button from "../components/Button.vue";
  import router from "@/router";
  export default {
    components: {
      Button
    },
    data() {
      return {
        clicks: 0,
        games: 0
      }
    },
    methods: {
      handleButtonClick() {
        stat.value.setReset(true);
        router.push({ path: '/', replace: true });
      }
    },
    mounted() {
      stat.value.setReset(false);
      this.games = stat.value.games;
      this.clicks = stat.value.totalClicks;
      if (!this.clicks) {
        router.push({ path: '/', replace: true });
      }

    }
  }
</script>

<template>
  <section class="wrapper">
    <div class="content">
      <h2 class="h2">Good job, you won!</h2>
      <p>Recently, you've played {{this.games}} {{this.games === 1 ? 'game' : 'games'}}.</p>
      <p>It took {{this.clicks}} clicks to win the last one</p>
      <Button label="Start over!" @click="handleButtonClick"/>
    </div>

  </section>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.content {
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid darkblue;
  & p {
    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
    &:last-of-type {
      margin-bottom: 12px;
    }
  }
}

.h2 {
  font-size: 20px;
  line-height: 24px;
  color: darkblue;
  margin-bottom: 10px;
}

</style>
