<script>
  export default {
    props: {
      label: String
    }
  }
</script>

<template>
  <button
    @click="$emit('onHandleClick', $event, 'test')"
    class="button"
    type="button">{{label}}</button>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.button {
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: darkblue;
  border: 1px solid darkblue;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  &:hover {
    color: white;
    background-color: darkblue;
  }
}
</style>
