<script>
export default {
  props: {
    opened: Boolean,
    guessed: Boolean,
    id: Number,
    content: String,
    onCardClick: () => {},
  },
  data() {
    return {
      animated: false,
    }
  },
  watch: {
    opened(newV) {
      if (newV) {
        this.triggerAnimation(true)
      } else {
        this.triggerAnimation(false);
      }
    }
  },
  methods: {
    triggerAnimation(value) {
      this.animated = value;
    },
    getColor () {
      const colors = ['green', 'red', 'blue', 'yellow'];
      const randColorIndex = Math.round(Math.random()*colors.length);
      return colors[randColorIndex-1] || 'yellow';
    }
  }
}
</script>

<template>
    <div class="sizing">
      <Transition
        :name="this.guessed ? 'rotate' : 'hide'">
      <div
        @click="this.$emit('onCardClick', this.content, this.id)"
        v-show="!this.guessed"
        class="sizing card"
        :class="`${this.opened ? this.getColor() : 'grey'} ${this.animated ? 'rotate-enter': 'rotate-leave'} ${guessed ? 'hide' : ''}`">
        <p>{{this.opened && !this.guessed ? content : ''}}</p>
        <p>{{this.opened && !this.guessed ? content : ''}}</p>
      </div>
      </Transition>
    </div>
</template>

<style lang="scss">

  .sizing {
    width: 100%;
    height: 100%;
  }

  .card {
    background-color: #fff;
    border-radius: 14px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    line-height: 32px;
    & p {
      opacity: 0;
      transition: opacity 0.3ms ease-in-out 0.5s;
    }
  }

  .red {
    color: coral;
    border: 2px solid coral;
    transition: all 0.3ms ease-in-out 0.5s;
  }

  .blue {
    color: blue;
    border: 2px solid blue;
    transition: all 0.3ms ease-in-out 0.5s;
  }

  .green {
    color: seagreen;
    border: 2px solid seagreen;
    transition: all 0.3ms ease-in-out 0.5s;
  }

  .yellow {
    color: yellowgreen;
    border: 2px solid yellowgreen;
    transition: all 0.3ms ease-in-out 0.5s;
  }

  .grey {
    border: 2px solid #fff;
    background-color: lightslategrey;
  }

  .rotate-enter {
    animation: rotatingY 0.5s reverse;
    & p {
      opacity: 1;
    }
  }

  .rotate-leave {
    animation: rotatingX 0.5s;
  }

  .hide {
    animation: fadeOut 0.5s ease-in-out;
  }

  @keyframes rotatingX {
    0% {
      transform: rotateX(0deg)
    }
    100% {
      transform: rotateX(180deg)
    }
  }

  @keyframes rotatingY {
    0% {
      transform: rotateY(0deg)
    }
    100% {
       transform: rotateY(180deg)
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1
    }
    to {
      opacity: 0
    }
  }

</style>
