<script>

</script>
<template>
    <div class="grid">
      <slot />
    </div>
</template>
<style lang="scss">

.grid {
  width: 100%;
  gap: 20px;
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 150px);;
}

</style>
