<script>
import Card from "./Card.vue";
import GameField from "./GameField.vue";
export default {
  components: {
    Card,
    GameField
  },
  props: {
    shuffled: Array,
    onGameCompleted: (clicks) => {},
  },
  data() {
    return {
      totalClicks: 0,
      flippedCount: 0,
      opened: [],
      ids:[],
      guessed: []
    }
  },
  watch: {
    guessed() {
      if (this.guessed.length === this.shuffled.length) {
        this.$emit('onGameCompleted', this.totalClicks);
      }
    }
  },
  methods: {
    handleCardClick(value, id){
      if(this.flippedCount < 2) {
        if(!this.opened.filter(item => item.content === value && item.id === id).length) {
          ++this.flippedCount;
          this.opened.push({
            content: value,
            id: id
          });
          ++this.totalClicks;
        }
      }
      if (this.flippedCount === 2) {
        if (this.opened[0].content === this.opened[1].content) {
          setTimeout(() => {
            const addedIds = [...this.guessed, this.opened[0].id, this.opened[1].id];
            this.guessed = addedIds;
            this.opened = [];
            this.flippedCount = 0;
          }, 1000);
        } else {
          setTimeout(() => {
            this.opened = [];
            this.flippedCount = 0;
          }, 1000)
        }
      }
    }
  }
}
</script>
<template>
  <main class="main">
    <GameField>
      <Card
        :key="index" v-for='(word, index) in shuffled'
        :content="word"
        :id="index"
        @onCardClick="handleCardClick"
        :count="this.flippedCount"
        :guessed="this.guessed.includes(index)"
        :opened="this.opened.some(item => item.id === index)"
      />
    </GameField>
  </main>
</template>
<style lang="scss">
.main {
  padding: 20px 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

</style>
