* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: none;
}

html,
body {
  position: relative;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  font-family: NextBookRegular, Arial, sans-serif;
}

input {
  font-family: inherit;

  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;

  -webkit-appearance: none;
}

input::-webkit-contacts-auto-fill-button {
  position: absolute;
  right: 0;

  display: none;

  visibility: hidden;

  pointer-events: none;
}

// HIDE INPUT NUMBER ARROWS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;

  resize: none;
}

button {
  padding: 0;
  overflow: visible;

  font: inherit;
  line-height: normal;
  color: inherit;

  background: none;
  border: 0;
  border-radius: 0;
  outline: none;
}

li {
  list-style: none;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 100%;
  vertical-align: baseline;

  border: 0;
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

svg {
  width: 100%;
  height: 100%;
}

//specific for IE10+
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  svg use {
    pointer-events: none; // DO NOT REMOVE, fix for IE svg click bug
  }
}

